@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  min-width: 1366px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  background-color: #FEAFC3;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 1170px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navigation-logo {
  width: 137px;
  margin-right: 16px;
  flex-shrink: 0;
}

.navigation-link {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
  text-align: center;
  min-height: 36px;
  min-width: 36px;
}

.navigation-link:not(.navigation-phone) {
  padding: 8px 16px;
}

.navigation-user .navigation-item:not(:last-child) {
  margin-right: 16px;
}

.navigation-user .navigation-item:not(:first-child) {
  background-color: #FFCBD8;
  border-radius: 30px;
}

.navigation-user .navigation-link:not(.navigation-phone) {
  font-size: 14px;
}

.navigation-user .navigation-link:not(:first-child) {
  padding: 6px 16px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.navigation-user .navigation-icon-left {
  padding-left: 38px;
}

.navigation-icon-left .navigation-icon {
  margin-right: auto;
  left: 17px;
  margin: auto 0;
}

.navigation-phone {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
}

.promo {
  margin-bottom: 80px;
}

.slider-inner {
  position: relative;
  margin-bottom: -32px;
}

.slider-slides {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.slide {
  display: flex;
  position: relative;
  padding-left: 70px;
  padding-top: 21px;
  padding-bottom: 26px;
}

.slide:not(:first-child) {
  display: none;
  position: absolute;
}

.slide-text {
  align-self: center;
  margin-right: 65px;
}

.slide-image-1 {
  position: relative;
}

.slide-image-1::before {
  position: absolute;
  background-image: url("../images/slider-banana.png");
  width: 100px;
  height: 150px;
  top: 35%;
  right: -52%;
  content: " ";
}

.slide-image-1::after {
  position: absolute;
  background-image: url("../images/slider-marshmallow.png");
  width: 100px;
  height: 150px;
  top: 35%;
  right: -98%;
  content: " ";
}

.slide-title {
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
  margin: 0;
  margin-bottom: 24px;
}

.slide-subtitle {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  max-width: 414px;
  margin: 0;
  margin-bottom: 48px;
}

.main-pagination-wrapper {
  display: flex;
  justify-content: space-between;
}

.slider-controls {
  position: absolute;
  top: 258px;
  left: 540px;
}

.slider-button {
  width: 38px;
  min-height: 38px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 26px;
  border: 2px solid rgba(252, 252, 252, 1);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.slider-button:hover {
  background-color: #FFFFFF;
  border: 2px solid rgba(252, 252, 252, 0.3);
  background-clip: padding-box;
  fill: #2D3440;

}

.slider-button:active {
  background-color: #FFCBD8;
  background-clip: padding-box;
  fill: #2D3440;
}

.slider-button:focus {
  background-color: #FFCBD8;
  border: 2px solid #2D3440;
  background-clip: padding-box;
  fill: #2D3440;
}

.slider-button:disabled {
  background-color: #FEAFC3;
  border: 2px solid #FFFFFF;
  background-clip: padding-box;
  font-weight: 400;
}

.slider-prev:not(:last-child) {
  margin-right: 274px;
}

.slider-pagination {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.slider-pagination-item:not(:last-child) {
  margin-right: 8px;
}

.slider-pagination-button {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  border: none;
  background-color: rgba(252, 252, 252, 0.5);
  cursor: pointer;
}

.slider-pagination-button-current {
  background-color: rgba(252, 252, 252, 1);
}

.social {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.social-item:not(:last-child) {
  margin-right: 16px;
}

.social-link {
  display: block;
  margin: 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: relative;
}

.social-icon {
  fill: #FCFCFC;
  position: absolute;
  width: 24px;
  height: 24px;
}

.section-title {
  margin: 0 auto;
  font-size: 32px;
  margin-bottom: 55px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
}

.special-events {
  margin-bottom: 80px;
}

.events-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.events-item {
  background: #FF7799 no-repeat right bottom;
  border-radius: 16px;
  padding: 36px;
  flex-shrink: 0;
  width: 570px;
  margin-right: 30px;
}

.events-item:first-child {
  background-image: url("../images/raspberry-cone.png");
  background-size: contain;
}

.events-item:last-child {
  background-image: url("../images/marshmallow-cone.png");
  background-size: contain;
  margin-right: 0;
}

.event-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
}

.event-subtitle {
  margin: 0;
  margin-bottom: 28px;
  max-width: 328px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  background-color: #FCFCFC;
  text-decoration: none;
  color: #2D3440;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  display: block;
  padding: 12px 32px;
  border-radius: 26px;
  max-width: fit-content;
  cursor: pointer;
  border: 4px solid rgba(252, 252, 252, 0.4);
  background-clip: padding-box;
}

.button:hover {
  background-color: #FFCBD8;
  border: 4px solid #FFFFFF;
  background-clip: padding-box;
}

.button:active {
  background-color: #FFFFFF;
  border: 2px solid #2D3440;
  background-clip: padding-box;
}

.button:focus {
  background-color: #FFCBD8;
  border: 2px solid #2D3440;
  background-clip: padding-box;
}

.button:disabled {
  background-color: #E7E7E7;
  border: 4px solid rgba(252, 252, 252, 0.4);
  background-clip: padding-box;
  font-weight: 400;
  color: #B9B9B9;
}

.popular-tastes {
  margin-bottom: 80px;
}

.product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-auto-flow: row;
  column-gap: 30px;
  row-gap: 90px;
  align-items: baseline;
}

.product-card {
  background: #FCFCFC;
  border-radius: 8px;
  padding: 0 40px 24px;
  box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.1);
}

.product-card-image {
  margin: -50px auto 16px;
  border-radius: 50%;
  display: block;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.12);
  object-fit: contain;
}

.product-card-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  margin-bottom: 8px;
}

.product-description {
  text-align: center;
  color: #565C66;
  margin: 0;
  margin-bottom: 16px;
}

.price-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-card-price {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.buy-button {
  min-width: 32px;
  min-height: 32px;
  background-color: #FF2F64;
  border-radius: 26px;
  border: none;
  position: relative;
  background-image: url("../images/icons/cart-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.advantages {
  background-image: url("../images/cone.png");
  background-size: cover;
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 80px;
}

.advantages-wrapper {
  background-color: #FCFCFC;
  border-radius: 16px;
  margin: 0 auto;
  padding: 56px 40px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  grid-auto-flow: column;
  column-gap: 32px;
  row-gap: 40px;
}

.advantages-item {
  position: relative;
  padding-left: 64px;
}

.advantages-item:first-child::before {
  position: absolute;
  background-image: url("../images/icons/ice-cream.svg");
  background-repeat: no-repeat;
  content: " ";
  width: 48px;
  height: 48px;
  background-size: 70%;
  background-position: center;
  border: 2px solid #2D3440;
  border-radius: 50%;
  left: -1px;
}

.advantages-item:nth-child(2)::before {
  position: absolute;
  background-image: url("../images/icons/leaf.svg");
  background-repeat: no-repeat;
  content: " ";
  width: 48px;
  height: 48px;
  background-size: 70%;
  background-position: center;
  border: 2px solid #2D3440;
  border-radius: 50%;
  left: -1px;
}

.advantages-item:nth-child(3)::before {
  position: absolute;
  background-image: url("../images/icons/cow.svg");
  background-repeat: no-repeat;
  content: " ";
  width: 48px;
  height: 48px;
  background-size: 70%;
  background-position: center;
  border: 2px solid #2D3440;
  border-radius: 50%;
  left: -1px;
}

.advantages-item:last-child::before {
  position: absolute;
  background-image: url("../images/icons/thermometer.svg");
  background-repeat: no-repeat;
  content: " ";
  width: 48px;
  height: 48px;
  background-size: 70%;
  background-position: center;
  border: 2px solid #2D3440;
  border-radius: 50%;
  left: -1px;
}

.advantages-description {
  color: #565C66;
  margin: 0;
  display: inline-block;
  height: 100%;
}

.index-columns {
  display: flex;
  margin-bottom: 80px;
}

.blog {
  background-image: url("../images/blog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 570px;
  border-radius: 16px;
  padding-left: 32px;
  padding-top: 32px;
  margin-right: 30px;
  flex-shrink: 0;
}

.glacy-blog {
  display: flex;
  flex-direction: column;
}

.blog-title {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  width: 303px;
  order: 1;
}

.blog-subtitle {
  margin: 0;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 20px;
  color: #565C66;
  order: -1;
}

.newsletter {
  background-image: url("../images/subscription.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 570px;
  border-radius: 16px;
  padding: 6px;
  flex-shrink: 0;
}

.newsletter-wrapper {
  background-color: #FCFCFC;
  border-radius: 16px;
  padding: 26px;
}

.newsletter-description {
  color: #565C66;
  margin: 0;
  margin-bottom: 42px;
}

.submit-button {
  color: #FCFCFC;
  background-color: #FF2F64;
  margin: 0 auto;
  border: 4px solid rgba(255, 47, 100, 0.3);
  background-clip: padding-box;
}

.submit-button:hover {
  background-color: #FFFFFF;
  border: 4px solid #FF2F64;
  background-clip: padding-box;
  color: #2D3440;
}

.submit-button:active {
  background-color: #FEAFC3;
  border: 2px solid #2D3440;
  background-clip: padding-box;
}

.submit-button:focus {
  background-color: #FF2F64;
  border: 2px solid #2D3440;
  background-clip: padding-box;
}

.submit-button:disabled {
  background-color: #B9B9B9;
  border: 4px solid rgba(185, 185, 185, 0.3);
  background-clip: padding-box;
  font-weight: 400;
  color: #565C66;
}

.delivery {
  background-image: url("../images/delivery.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  padding: 64px 64px 64px 100px;
  margin-bottom: 80px;
}

.delivery .section-title {
  text-align: left;
  margin: 0;
  margin-bottom: 24px;
}

.delivery-subtitle {
  color: #565C66;
  margin: 0;
  width: 371px;
}

.delivery-text {
  margin-right: 135px;
  align-self: center;
}

.order-delivery {
  background-color: #FCFCFC;
  border-radius: 8px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
}

.order-delivery-text {
  color: #565C66;
}

.delivery-date {
  line-height: 20px;
  font-weight: 700;
}

.delivery-phone {
  line-height: 20px;
  font-weight: 700;
}

.delivery-address {
  line-height: 20px;
  font-weight: 700;
  color: #565C66;
}

.delivery-button {
  margin: 0 auto;
}

.contacts {
  background-image: url("../images/contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  padding: 64px;
  background-position-y: 50%;
}

.contacts-wrapper {
  background-color: #FCFCFC;
  border-radius: 8px;
  width: 343px;
  padding: 40px;
  box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
}

.contacts-title {
  color: #565C66;
  margin: 0;
  margin-bottom: 12px;
}

.contacts-subtitle {
  color: #565C66;
  margin: 0;
  margin-bottom: 12px;
}

.contacts-address {
  font-style: normal;
  margin: 0;
}

.contacts-address-text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color:#2D3440;
  margin: 0;
  margin-bottom: 24px;
}

.contacts-phone {
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color:#2D3440;
  margin: 0;
}

.contacts-schedule {
  color: #565C66;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 32px;
}

.page-footer {
  display: flex;
  padding-top: 44px;
  padding-bottom: 48px;
}

.footer-social {
  margin-right: auto;
}

.footer-navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(2, min-content);
  grid-auto-flow: column;
  column-gap: 24px;
  row-gap: 8px;
  padding-left: 26px;
  position: relative;
}

.footer-navigation::before {
  background-image: url("../images/icons/heart.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 70%;
  position: absolute;
  content: " ";
  width: 14px;
  height: 14px;
  top: 5px;
  left: 5px;
}

.footer-navigation li:first-child {
  font-weight: 700;
}

.footer-navigation-link {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
  margin: 0;
  padding: 0;
}

.copyright {
  margin-left: auto;
}

.copyright-text {
  font-size: 12px;
  line-height: 16px;
  color: #2D3440;
}

.navigation-link-current {
  color: #FCFCFC;
  background-color: #FF2F64;
  border-radius: 30px;
}

.main-inner {
  margin-top: 32px;
}

.breadcrumbs {
  list-style-type: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.breadcrumbs-item {
  margin-right: 15px;
  position: relative;
}

.breadcrumbs-item:not(:first-child) {
  padding-left: 20px;
}

.breadcrumbs-item::after {
  background-image: url("../images/icons/chevrons-right.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 5px;
  right: -22px;
  width: 12px;
  height: 12px;
  content: " ";
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  text-decoration: none;
}

.breadcrumbs-current::before {
  position: absolute;
  right: 2px;
  bottom: 0;
  left: 20px;
  height: 1px;
  background-color: #2D3440;
  content: "";
}

.inner-header-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  margin: 0;
  margin-bottom: 40px;
}

.catalog-filter {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.catalog-button {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  background-color: #FFCBD8;
  padding: 8px 52px;
  border: 2px solid rgba(252, 252, 252, 1);
}

.catalog-button:hover {
  background-color: #FFFFFF;
  border: 2px solid rgba(252, 252, 252, 0.3);
  background-clip: padding-box;
}

.catalog-button:active {
  background-color: #FFCBD8;
  background-clip: padding-box;
}

.catalog-button:focus {
  background-color: #FFCBD8;
  border: 2px solid #2D3440;
  background-clip: padding-box;
}

.catalog-button:disabled {
  background-color: #FEAFC3;
  border: 2px solid #FFFFFF;
  background-clip: padding-box;
  font-weight: 400;
  color: #565C66;
}

.main-inner .product-list {
  margin-bottom: 16px;
}

.pagination-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: ". button pagination";
}

.more-button {
  margin: 40px auto;
  grid-area: button;
  justify-self: center;
}

.pagination {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  grid-area: pagination;
  justify-self: end;
  align-self: center;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
}

.pagination::before {
  background-image: url("../images/icons/arrow-left.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: " ";
  width: 16px;
  height: 16px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 8px;
}

.pagination::after {
  background-image: url("../images/icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: " ";
  width: 16px;
  height: 16px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 8px;
}



.pagination-link-current {
  background-color: #FCFCFC;
  border-radius: 50%;
}

.pagination-link {
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
  padding: 2px 6px;
  cursor: pointer;
}
